.welcome-text {
  display: grid;
  gap: var(--spacing-2);
  color: var(--white);

  h1 {
    font-size: var(--size-9);
    line-height: var(--size-10);
    letter-spacing: var(--spacing-1-quarter);
    font-family: 'Playfair Display', -apple-system, serif;
  }

  p {
    font-size: var(--size-7-half);
    line-height: var(--size-6);
    max-width: var(--size-140);
  }
}

@media (width >= 768px) {
  .welcome-text {
    h1 {
      font-size: var(--size-10);
      line-height: var(--size-11);
    }

    p {
      font-size: var(--size-4);
      line-height: var(--size-7);
    }
  }
}
