.events {
  padding: var(--spacing-4) var(--spacing-3);
  display: grid;
  justify-items: center;
  gap: var(--spacing-6);
}

@media (min-width: 768px) {
  .events {
    padding: var(--spacing-6) var(--spacing-3);
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
    gap: var(--spacing-6);
  }
}

@media (min-width: 1024px) {
  .events {
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    gap: var(--spacing-6) var(--spacing-7-half);
    max-width: var(--max-width-lg);
  }
}
