.about-section {
  padding: var(--spacing-7) var(--spacing-3);
  background-color: var(--white);
  display: grid;
  justify-items: center;
  gap: var(--spacing-7);
  background-image: radial-gradient(circle at 0% 10%, var(--alpha-gray-1) 10%, var(--alpha-gray-1) 10%, transparent 20%);
}

@media (width >= 768px) {
  .about-section {
    padding: var(--spacing-8) var(--spacing-4);
  }
}
