.button {
  padding: var(--spacing-3-half);
  border-radius: var(--size-1);
  font-size: var(--size-4);
  font-weight: 600;
}

.small {
  padding: var(--spacing-1);
  font-size: var(--size-5-half);
  letter-spacing: calc(var(--spacing-1-quarter) / 4);
}

.filled {
  border: none;
  background-color: var(--orange);
  color: var(--white);
}

.outlined {
  background: none;
  border: var(--size-1-half) solid var(--orange);
  color: var(--orange);
}

.dark {
  background: var(--dark);
  color: var(--white);
  border: none;
}

.blue {
  background: var(--blue);
  color: var(--white);
  border: none;
}

.blue1 {
  background: var(--alpha-blue-1);
  color: var(--blue);
  border: var(--size-1-quarter) solid var(--blue);
}

.gray1 {
  background: var(--alpha-gray-1);
  color: var(--gray);
  border: var(--size-1-quarter) solid var(--gray);
}

.gray3 {
  background: var(--alpha-gray-3);
  color: var(--dark);
  border: var(--size-1-quarter) solid var(--gray);
}

.orange1 {
  background: var(--alpha-orange-1);
  color: var(--orange);
  border: var(--size-1-quarter) solid var(--orange);
}

.orange7 {
  background: var(--alpha-orange-7);
  color: var(--white);
  border: var(--size-1-quarter) solid var(--orange);
}
