.form {
  display: grid;
  gap: var(--spacing-4);

  h1 {
    font-family: -apple-system, 'Gotham Bold', serif;
    font-size: var(--size-7);
    color: var(--dark);
  }
}

.form-controls {
  display: grid;
  gap: var(--spacing-2);
}

// gaps
.small {
  gap: var(--spacing-2);
}
