.header {
  padding: var(--spacing-2);
  background-color: var(--alpha-dark-8);
  font-family: 'Open Sans', sans-serif;
  display: grid;
  gap: var(--spacing-1-half);

  h3 {
    font-size: var(--size-4);
    color: var(--white);
  }

  p {
    font-size: var(--size-7-half);
    line-height: var(--size-4);
    color: var(--white);
  }
}
