.video-description-section {
  background-color: var(--alpha-blue-2);
  border: var(--size-1) solid var(--blue);
  padding: var(--spacing-3) var(--spacing-3) var(--spacing-7);
  border-radius: var(--size-8);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: none;
  color: var(--white);
  display: grid;
  grid-auto-rows: max-content;
  gap: var(--spacing-3);

  h2 {
    font-size: var(--size-5);
    font-family: 'Gotham Bold', sans-serif;
    padding: var(--spacing-1) 0;
    border-bottom: var(--size-1-quarter) solid;
    color: var(--blue);
  }

  .details {
    display: grid;
    padding: var(--spacing-1) 0;
    gap: var(--spacing-2);
  }

  .detail {
    display: grid;
    grid-auto-rows: max-content;
    gap: var(--spacing-1);
    align-items: center;

    h3 {
      font-size: var(--size-4);
      color: var(--dark);
      font-family: 'Gotham Bold', sans-serif;
    }

    p {
      font-size: var(--size-7-half);
      color: var(--blue);
    }
  }

  .more-videos {
    display: grid;
    gap: var(--spacing-4);
  }
}

@media (min-width: 768px) {
  .video-description-section {
    .details {
      grid-template-columns: repeat(2, max-content);
    }

    .more-videos {
      gap: var(--spacing-2);
      grid-template-columns: repeat(2, var(--size-80));
    }
  }
}

@media (min-width: 1024px) {
  .video-description-section {
    padding: var(--spacing-3) var(--spacing-3);
    border: var(--size-1) solid var(--blue);
    border-radius: var(--size-8);
  }
}

@media (min-width: 1200px) {
  .video-description-section {
    .details {
      grid-template-columns: none;
      grid-template-rows: repeat(2, max-content);
    }

    .more-videos {
      grid-template-columns: none;
      grid-template-rows: repeat(2, max-content);
      gap: var(--spacing-3);
    }
  }
}
