.service-info,
.offline {
  display: grid;
  gap: var(--spacing-1);
  font-family: Lato, sans-serif;
  color: var(--dark);

  h1 {
    font-weight: 700;
    font-size: var(--size-4);
  }

  p {
    font-size: var(--size-3);
    line-height: var(--size-9-half);
  }

  ul {
    list-style: none;
    line-height: var(--size-9-half);
    display: grid;
    gap: var(--spacing-1-half);
    font-size: var(--size-7-half);

    .country {
      font-weight: 600;
      color: var(--orange);
    }
  }
}
