.video-section {
  display: grid;
  grid-auto-rows: max-content;
  gap: var(--spacing-2);
  color: var(--dark);

  .video-player {
    position: sticky;
    z-index: 1;
  }

  .video-information {
    padding: 0 var(--spacing-2);
  }
}

@media (width >= 768px) {
  .video-section {
    .video-player {
      position: relative;
      top: 0;
    }

    .more-videos {
      padding: var(--spacing-2);

      .video-list {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}

@media (width >= 1024px) {
  .video-section {
    padding: var(--spacing-3) 0 var(--spacing-5);

    .video-player {
      border-radius: var(--size-5);
      width: var(--size-200);
    }

    .video-information {
      padding: 0;
      max-width: var(--size-200);
    }

    .more-videos {
      .video-list {
        width: var(--size-200);
        gap: var(--spacing-1);
      }
    }
  }
}

@media (width >= 1200px) {
  .video-section {
    background-color: white;
    gap: var(--spacing-2);
    grid-template-columns: 60% 30%;
    place-content: center;

    .video-player {
      width: 100%;
    }
  }
}
