.messages {
  list-style: none;
  padding: var(--spacing-2);
  display: grid;
  gap: var(--spacing-2);
  grid-auto-rows: max-content;
  overflow-y: scroll;
  height: 100%;
}

.live-chat-input {
  position: sticky;
  bottom: 0;
}

@media (min-width: 1024px) {
  .live-chat-full{
    height: calc(100vh - var(--header-height));
    display: grid;
    grid-template-rows: max-content auto max-content;
  }
}
