.header {
  border-bottom: var(--size-1-quarter) solid var(--silver);
  padding: var(--spacing-2) var(--spacing-3-half) var(--spacing-1);
  display: grid;
  grid-template-columns: max-content auto;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 var(--size-10) var(--size-2) calc(var(--size-10) * -1) var(--silver);
  position: sticky;
  top: 0;
  background-color: var(--white);

  .heading-text {
    display: grid;
    gap: var(--spacing-1-half);
  }

  .view-count {
    font-size: var(--size-3);
    display: grid;
    grid-template-columns: max-content max-content;
    gap: var(--spacing-1-half);
    align-items: end;
  }

  h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: var(--size-4);
  }

  p {
    font-size: var(--size-7-half);
    line-height: var(--size-4);
    display: grid;
    grid-template-columns: repeat(3, max-content);
    align-items: center;
    gap: var(--spacing-1);
  }

  button {
    background: none;
    border: none;
  }
}
