.videos {
  padding: var(--spacing-4) var(--spacing-3);
  display: grid;
  justify-items: center;
  gap: var(--spacing-4);
}

@media (width >= 768px) {
  .videos {
    justify-content: center;
    gap: var(--spacing-3);
  }
}

@media (width >= 1024px) {
  .videos {
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    max-width: var(--max-width-lg);
  }
}
