.videos {
  padding: var(--spacing-4) var(--spacing-2);
  display: grid;
  justify-items: center;
  gap: var(--spacing-3-half);
}

@media (width >= 1024px) {
  .videos {
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    max-width: var(--max-width-lg);
  }
}
