.video-details {
  border-radius: var(--size-2);
  display: grid;
  gap: var(--spacing-4-quarter);
  font-family: Roboto, Arial, sans-serif;

  h1 {
    font-size: var(--size-9-half);
    line-height: var(--size-4);
    font-weight: 600;
  }

  .hashtags {
    color: var(--gray);
    font-size: var(--size-3);
    letter-spacing: calc(var(--spacing-1-quarter) / 8);
    font-weight: 500;
    gap: var(--spacing-1);
  }

  .video-viewers {
    color: var(--gray);
    font-size: var(--size-14-quarter);
    letter-spacing: calc(var(--spacing-1-quarter) / 8);
    font-weight: 600;
    line-height: var(--size-2);
  }
}

@media (width >= 768px) {
  .video-details {
    h1 {
      font-size: var(--size-5);
      line-height: var(--size-5);
    }

    .hashtags {
      font-size: var(--size-7-half);
    }

    .video-viewers {
      font-size: var(--size-7-half);
      line-height: var(--size-3);
    }
  }
}

@media (width >= 1024px) {
  //
}

