.social-login {
  background-color: var(--alpha-blue-2);
  color: var(--blue);
  padding: var(--spacing-1) var(--spacing-2);
  font-size: var(--size-3);
  border-radius: var(--size-2);
  border: var(--size-1-quarter) solid var(--blue);
  display: grid;
  grid-template-columns: max-content max-content;
  gap: var(--spacing-1);
  align-items: center;
  text-decoration: none;

  img {
    width: var(--size-5);
    height: var(--size-5);
  }
}
