.menu {
  position: relative;
  height: var(--size-8);
  display: grid;

  button {
    border: none;
    background: none;
    width: 100%;
    cursor: pointer;
    display: grid;
    place-items: center;

    .handle {
      width: var(--size-7);
      fill: var(--dark);
    }
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: none;
    background-color: var(--alpha-dark-2);
    z-index: 0;
  }

  .menu-content {
    display: none;
    list-style: none;
    position: absolute;
    top: var(--header-height);
    right: calc(var(--size-2) * -1);
    z-index: 1;
    background-color: var(--white);
    font-size: var(--size-7-half);
    letter-spacing: 0.5px;
    line-height: var(--size-4);
    width: var(--size-65);
    border-radius: var(--size-2);

    li {
      a {
        display: grid;
        grid-template-columns: var(--size-10) auto;
        gap: var(--spacing-1-half);
        align-items: center;
        padding: var(--spacing-3-half) var(--spacing-2);
        border-bottom: var(--size-1-quarter) solid var(--alpha-silver-5);
        text-decoration: none;
        color: var(--dark);

        .icon {
          width: var(--size-8);
          height: var(--size-8);
          border-radius: 50%;
          background-color: var(--alpha-orange-9);
          display: grid;
          place-items: center;
          color: var(--white);
          font-family: -apple-system, 'Gotham Bold', sans-serif;
          font-size: var(--size-7-half);
          line-height: var(--size-17-half);
        }

        &:hover {
          background-color: var(--alpha-dark-9);
          color: var(--white);
        }
      }
    }

    li:first-child {
      a {
        border-top-left-radius: var(--size-2);
        border-top-right-radius: var(--size-2);
      }
    }

    li:last-child {
      a {
        border-bottom-left-radius: var(--size-2);
        border-bottom-right-radius: var(--size-2);
        border-bottom: none;
      }
    }
  }
}

.overlay-open {
  animation: fade-in 0.3s ease-in-out forwards;
  display: block !important;
}

.menu-open {
  animation: fade-up 0.3s ease-in-out forwards;
  display: block !important;
}

.menu-closed {
  animation: fade-down 0.3s ease-in-out forwards;
}

@keyframes fade-up {
  from {
    transform: translateY(calc(var(--size-4)));
    opacity: 0;
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-down {
  0% {
    display: block;
    opacity: 1;
    transform: translateY(0);
  }

  50% {
    opacity: 0.5;
    transform: translateY(calc(var(--size-2)));
  }

  100% {
    opacity: 0;
    transform: translateY(calc(var(--size-4)));
    display: none;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media (width >= 850px) {
  .menu {
    .menu-content {
      .mobile-link {
        display: none;
      }

      .desktop-first {
        a {
          border-top-left-radius: var(--size-2);
          border-top-right-radius: var(--size-2);
        }
      }

      .desktop-last {
        a {
          border-bottom-left-radius: var(--size-2);
          border-bottom-right-radius: var(--size-2);
          border-bottom: none;
        }
      }
    }
  }
}
