.hero-section {
  padding: var(--spacing-3);
  height: 100vh;
  min-height: calc(var(--size-11) * 10);
  max-height: calc(var(--size-11) * 16);
  display: grid;
  place-items: center;
  position: relative;
}
