.header {
  width: 100%;
  padding: 0 var(--spacing-3-half);
  height: var(--header-height);
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: max-content max-content;
  transition: var(--timing-medium) all;
  position: sticky;
  top: 0;
  background-color: var(--white);
  z-index: 100;
}

.menus {
  display: grid;
  grid-template-columns: max-content max-content;
}

.dark {
  background-color: var(--dark);
}

.blue {
  background-color: var(--blue);
}

.live {
  background-color: var(--live-gray);
}

.nav {
  display: none;
}

.light-border {
  border-bottom: calc(var(--size-1-quarter)) solid var(--alpha-gray-3);
}

@media (width >= 768px) {
  .header {
    padding: 0 var(--spacing-2);
  }

  .light-border {
    border-bottom: calc(var(--size-1-quarter)) solid var(--alpha-silver-9);
  }
}

@media (width >= 850px) {
  .nav {
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .live {
    .nav {
      display: none;
    }
  }
}
