.header {
  width: 100%;
  padding: 0 var(--spacing-2);
  height: var(--header-height);
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: auto auto;
  transition: var(--timing-medium) all;
  position: sticky;
  top: 0;
  background-color: var(--white);
  z-index: 100;
}

.dark {
  background-color: var(--dark);
}

.blue {
  background-color: var(--blue);
}

.nav {
  display: none;
}

@media (width >= 768px) {
  .header {
    padding: 0 var(--spacing-4);
  }

  .nav {
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}
