.archive-section {
  padding: var(--spacing-7) var(--spacing-3);
  background-color: var(--white);
  display: grid;
  justify-items: center;
  gap: var(--spacing-7);
}

@media (width >= 768px) {
  .archive-section {
    padding: var(--spacing-8) var(--spacing-4);
  }
}
