.video-list {
  display: grid;
  gap: var(--spacing-5);
  justify-items: center;
  width: 100%;
  // border: 1px solid red;

  // The videos are wrapped in link elements
  // so hide the last link element on mobile
  // to show only 3 videos

  a:last-child {
    display: none;
  }
}

@media (width >= 768px) {
  .video-list {
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
    gap: var(--spacing-3);

    a:last-child {
      display: grid;
    }
  }
}

@media (width >= 1024px) {
  .video-list {
    grid-template-columns: repeat(3, 1fr);
    max-width: var(--max-width-lg);

    a:last-child {
      display: none;
    }
  }
}
