.team-member {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: var(--spacing-3);
  width: 100%;
  place-items: center;

  .img-container {
    border-radius: var(--size-50);
    background-color: var(--orange);
    overflow: hidden;
    height: var(--size-70);
    width: var(--size-70);
  }

  img {
    display: block;
    height: var(--size-80);
    width: 100%;
    object-fit: cover;
  }

  .details {
    display: grid;
    gap: var(--spacing-1);
    text-align: center;

    .name {
      font-size: var(--size-4);
      line-height: var(--size-5);
    }

    .role {
      font-size: var(--size-7-half);
      color: var(--silver);
    }
  }

  .thin > img {
    object-position: center calc(var(--size-2));
    padding: 0 var(--spacing-3);
  }

  .large > img {
    object-position: center calc(-1 * var(--size-2));
    padding: 0 var(--spacing-2);
  }
}

@media (width >= 768px) {
  .team-member {
    min-width: var(--size-80);

    .thin > img {
      padding: 0 var(--spacing-4);
    }

    .large > img {
      padding: 0 var(--spacing-5);
    }
  }
}

@media (width >= 1024px) {
  .team-member {
    min-width: 0;

    img {
      height: var(--size-60);
    }

    .img-container {
      width: 100%;
      height: var(--size-60);
    }

    .thin > img {
      padding: 0 var(--spacing-3);
    }

    .large > img {
      padding: 0 var(--spacing-2);
    }
  }
}
