.team-members {
  display: grid;
  justify-content: center;
  gap: var(--spacing-6);
  justify-items: center;
}

@media (width >= 768px) {
  .team-members {
    grid-template-columns: repeat(2, max-content);
    gap: var(--spacing-6) var(--spacing-3);
    padding: 0;
  }
}

@media (width >= 1024px) {
  .team-members {
    grid-template-columns: repeat(4, 1fr);
    gap: var(--spacing-3);
    justify-content: center;
    max-width: var(--max-width-lg);
  }
}
