.nav {
  display: grid;
  grid-template-columns: auto auto auto auto;
  align-items: end;
  gap: var(--spacing-3-half);
  height: var(--size-4);

  a {
    color: var(--dark);
    text-decoration: none;
    font-family: 'Gotham Bold', sans-serif;
    font-size: var(--size-3);
    line-height: var(--size-3);
    transition: var(--timing-medium) color;
  }
}

.blue {
  a {
    color: var(--white);
  }
}

.nav > a:hover {
  color: var(--orange);
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0.3; }
  100% { opacity: 1; }
}

.live-indicator {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  gap: var(--spacing-1);

  .dot {
    background-color: var(--red);
    width: var(--size-2);
    height: var(--size-2);
    border-radius: 50%;
    animation: blink var(--timing-slowest-1) infinite;
  }
}

@media (width >= 850px) {
  .nav {
    a {
      font-size: var(--size-7-half);
      line-height: var(--size-7-half);
      color: var(--gray);
    }
  }
}

@media (width >= 1024px) {
  .blue {
    a {
      color: var(--white);
    }
  }
}
