.video-player {
  display: grid;
  grid-auto-rows: max-content;
  gap: var(--spacing-2);

  .video-container {
    background-color: var(--blue);
    padding: var(--spacing-2);
    display: grid;
    grid-template-rows: max-content;
    place-content: center;
  }

  video {
    width: 100%;
    background-color: var(--blue);
    border-radius: var(--size-5);
  }

  .video-description {
    padding: var(--spacing-2);
    display: grid;
    grid-auto-rows: max-content;
    gap: var(--spacing-1);
    justify-self: center;

    h1 {
      font-family: 'Gotham Bold', sans-serif;
      font-weight: 600;
      color: var(-dark);
      font-size: var(--size-5);
    }

    p {
      font-family: Roboto, sans-serif;
      font-size: var(--size-7-half);
      line-height: var(--size-5);
      letter-spacing: calc(var(--spacing-1-quarter) / 5);
    }
  }
}

@media (width >= 1024px) {
  .video-player {
    gap: var(--spacing-4);

    video {
      border: none;
      outline: none;
      max-width: var(--size-180);
      height: 400px;
      box-shadow: 0 0 var(--size-10) var(--size-3) var(--alpha-dark-5);
      object-fit: cover;
      background-color: var(--dark);
      border-radius: var(--size-5);
    }

    .video-description {
      max-width: var(--size-180);
      padding: var(--spacing-1);
      gap: var(--spacing-2);

      h1 {
        font-size: var(--size-6);
      }

      p {
        font-size: var(--size-4);
        line-height: var(--size-6);
      }
    }

    .video-container {
      background-color: var(--white);
      padding: 0;
    }
  }
}
