.video {
  width: 100%;
  height: 100%;
}

@media (width >= 1024px) {
  .video {
    min-height: var(--size-100);
    max-height: var(--size-100);
    height: auto;
    border: none;
    outline: none;
    background-color: var(--dark);
    border-radius: var(--size-2);
  }
}
