.video {
  width: 100%;
  height: 100%;
}

@media (width >= 1024px) {
  .video {
    border: none;
    outline: none;
    box-shadow: 0 0 var(--size-10) var(--size-3) var(--alpha-gray-4);
    object-fit: cover;
    background-color: var(--dark);
    border-radius: var(--size-5);
  }
}
