.options {
  display: grid;
  gap: var(--spacing-1);
  grid-template-columns: max-content max-content max-content;
  font-family: Roboto, Arial, sans-serif;
}

.option {
  border: none;
  font-size: var(--size-7-half);
  background-color: var(--light-silver);
  padding: var(--size-2) var(--size-4);
  border-radius: var(--size-6);
  font-family: Roboto, Arial, sans-serif;
  font-weight: 500;
  color: var(--dark);
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  gap: var(--spacing-1);

  svg {
    height: var(--size-4);
    width: var(--size-4);
  }
}

.special {
  background-color: var(--blue);
  color: var(--white);
}

@media (prefers-color-scheme: dark) {
  .option {
    background-color: var(--dark);
    color: var(--white);
  }

  .special {
    background-color: var(--orange);
    color: var(--white);
  }
}
