.auth-page-switch {
  display: grid;
  grid-template-columns: max-content max-content;
  place-items: center;
  gap: var(--spacing-1);
  color: var(--gray);
  font-size: var(--size-4);

  a {
    text-decoration: none;
    font-family: -apple-system, 'Gotham Bold', sans-serif;
  }
}

.blue {
  color: var(--alpha-blue-8);
}

.orange {
  color: var(--orange);
}
