.video{
  padding: var(--spacing-3-half) 0;
  width: 100%;
  border: var(--size-1-quarter) solid var(--alpha-dark-7);
  display: grid;
  grid-template-columns: 35% auto;
  gap: var(--spacing-3-half);
  color: var(--dark);
  text-decoration: none;
  border-radius: var(--size-3);
  background-color: var(--white);
}

.video-thumbnail {
  height: var(--size-35);
  border-radius: var(--size-4);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: var(--alpha-dark-5);

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--size-4);
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }
}

.video-details {
  font-family: 'Open Sans', sans-serif;
  height: var(--size-35);
  border-radius: var(--size-4);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  display: grid;
  gap: var(--spacing-1);
  grid-template-rows: var(--size-6) auto max-content;
  padding: 0 var(--spacing-1) 0 0;
  align-content: center;

  .date {
    font-size: var(--size-5-half);
    letter-spacing: calc(var(--spacing-1-quarter) / 2);
    width: max-content;
    padding: 0 var(--spacing-1);
    border-radius: var(--size-2);
    border: var(--size-1-quarter) solid var(--alpha-dark-6);
    color: var(--dark);
    display: grid;
    align-items: center;
  }

  h3 {
    font-size: var(--size-7-half);
    line-height: var(--size-5);
    letter-spacing: calc(var(--size-1-quarter) / 8);
    color: var(--dark);
    width: 100%;
    display: grid;
    align-items: center;
  }

  .minister {
    font-size: var(--size-3);
    letter-spacing: calc(var(--spacing-1-quarter) / 3);
    width: max-content;
    border-radius: var(--size-2);
    border: var(--size-1-quarter) solid var(--alpha-dark-6);
    color: var(--dark);
    padding: var(--spacing-1-half) var(--spacing-1);
    display: grid;
    align-items: center;
  }
}

@media (width >= 768px) {
  .video {
    max-width: var(--size-160);
  }
}
