.account-settings {
  padding: var(--spacing-3) var(--spacing-2);
  display: grid;
  gap: var(--spacing-2);
  border-bottom: var(--size-1-quarter) solid var(--silver);

  h2 {
    color: var(--gray);
    font-size: var(--size-4);
    font-family: 'Gotham Bold', 'Lato', sans-serif;
  }

  ul {
    list-style: none;

    li {
      align-items: center;
      border-radius: var(--size-1);
      transition: background-color var(--timing-medium) ease-in-out;

      button {
        display: block;
        width: 100%;
        text-decoration: none;
        color: var(--dark);
        text-align: left;
        padding: var(--spacing-2);
        display: grid;
        grid-template-columns: max-content max-content;
        align-items: center;
        justify-content: space-between;
        background: none;
        border: none;
        cursor: pointer;

        svg {
          width: var(--size-5);
          height: var(--size-5);
        }
      }

      button:not(.toggle-container):hover {
        background-color: var(--light-silver);
      }
    }

    input[type="checkbox"] {
      position: relative;
      height: var(--size-4);

      &:before {
        content: "";
        position: absolute;
        right: calc(-1 * var(--size-3));
        background-color: var(--white);
        border: var(--size-1-quarter) solid var(--blue);
        border-radius: var(--size-3);
        width: var(--size-10);
        height: var(--size-6);
        transform: translateY(calc(var(--size-1) * -1));
        transition: background-color var(--timing-medium) linear;
      }

      &:after {
        content: "";
        position: absolute;
        width: var(--size-4);
        height: var(--size-4);
        border-radius: 50%;
        // border: var(--size-1-quarter) solid var(--blue);
        background-color: var(--blue);
        transform: translateX((calc(var(--size-5) * -1)));
        right: calc(-1 * var(--size-3));
        transition: transform var(--timing-medium) linear;
      }

      &:checked {
        &:before {
          background-color: var(--blue);
        }

        &:after {
          transform: translateX((calc(var(--size-1) * -1)));
          background-color: var(--white);
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .account-settings {
    padding: var(--spacing-4) var(--spacing-3);
  }
}
