.all-settings {
  border-radius: var(--size-4);
  border: var(--size-1-half) solid var(--light-gray);
  background-color: var(--white);
  color: var(--dark);
  font-size: var(--size-7-half);
  width: 100%;
}

@media (width >= 768px) {
  .all-settings {
    max-width: var(--size-150);
  }
}
