.all-settings {
  border-radius: var(--size-4);
  box-shadow: 0 0 var(--size-1-half) var(--size-1-quarter) var(--white-shadow-1);
  background-color: var(--white);
  color: var(--dark);
  font-size: var(--size-7-half);
  width: 100%;
}

@media (width >= 768px) {
  .all-settings {
    max-width: var(--size-150);
  }
}
