.change-password {
  padding: var(--spacing-3) var(--spacing-2);
  display: grid;
  gap: var(--spacing-3);

  .change-password-header {
    display: grid;
    gap: var(--spacing-1);
    justify-content: start;

    button {
      text-decoration: none;
      color: var(--gray);
      font-size: var(--size-3);
      text-align: left;
      background: none;
      border: none;
      display: grid;
      gap: var(--spacing-1-half);
      align-items: center;
      grid-template-columns: max-content auto;

      img {
        width: var(--size-2);
        height: var(--size-2);
        border: var(--size-1-quarter) solid var(--silver);
        background-color: var(--silver);
      }
    }

    h2 {
      color: var(--gray);
      font-size: var(--size-4);
    }
  }
}

.success {
  color: var(--white);
  background-color: var(--alpha-green-6);
  text-align: center;
}

.submit {
  display: grid;
  grid-auto-flow: column;
  place-items: center;
  justify-content: center;
  gap: var(--spacing-1);
  position: relative;
  width: var(--size-60);
}

@media (width >= 768px) {
  .change-password {
    padding: var(--spacing-4) var(--spacing-3);
    gap: var(--spacing-4);
  }
}
