.live-chat {
  height: var(--size-150);
  border: var(--size-1-quarter) solid var(--gray);
  border-radius: var(--size-5);
  background-color: var(--white);
  display: grid;
  grid-template-rows: max-content auto max-content;
  overflow: hidden;
}

.offline {
  filter: brightness(0.7);
}

@media (width >= 1024px) {
  .live-chat {
    height: 80vh;
  }
}
