.testimony-section {
  padding: var(--spacing-7) var(--spacing-3);
  background-color: var(--white);
  display: grid;
  justify-items: center;
  gap: var(--spacing-4);
}

@media (width >= 768px) {
  .testimony-section {
    padding: var(--spacing-8) var(--spacing-4);
    background-image: radial-gradient(circle at 50% 15%, var(--alpha-silver-2) 10%, var(--alpha-silver-2) 10%, transparent 15%);
  }
}
