.testimonies {
  display: grid;
  gap: var(--spacing-2);
}

.divider {
  height: var(--size-20);
  width: var(--size-2);
  border-left: var(--size-1) dashed var(--alpha-blue-8);
  margin-left: var(--size-6);

  &:last-child {
    display: none;
  }
}

@media (width >= 768px) {
  .testimonies {
    grid-template-columns: repeat(2, 1fr);
  }

  .divider {
    display: none;
  }
}
