.testimony {
  padding: var(--spacing-3-half);
  border: var(--size-1-half) solid var(--blue);
  background-color: var(--blue);
  color: var(--white);
  border-radius: var(--size-4);
  display: grid;
  gap: var(--spacing-3-half);
  max-width: var(--size-120);
  grid-template-rows: auto max-content;

  p {
    padding: var(--spacing-1);
    font-size: var(--size-4);
    line-height: var(--size-7);
  }

  span {
    padding: var(--spacing-1) var(--spacing-3-half);
    font-size: var(--size-7-half);
  }

  &:last-child {
    display: none;
  }
}

@media (width >= 768px) {
  .testimony {
    &:last-child {
      display: grid;
    }

    p {
      padding: var(--spacing-3-half);
    }
  }
}
