.nav {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  gap: var(--spacing-2);

  a {
    font-size: var(--size-7-half);
    text-decoration: none;
    color: var(--gray);
  }

  .divider {
    width: var(--size-1-quarter);
    background-color: var(--black);
  }
}
