.nav {
  display: grid;
  justify-content: center;
  gap: var(--spacing-3);
}

@media (width >= 768px) {
  .nav {
    grid-template-columns: repeat(4, max-content);
    gap: var(--spacing-3);
    padding: 0;
  }
}
