.nav {
  display: none;
}

@media (width >= 768px) {
  .nav {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(4, max-content);
    gap: var(--spacing-3);
    padding: 0;
  }
}
