.link {
  border-radius: 50%;
  width: var(--size-8);
  height: var(--size-8);
  display: grid;
  place-content: center;
  background-color: var(--dark);

  svg {
    width: var(--size-7-half);
    height: var(--size-4);
    fill: var(--white);
  }
}
