.give-option {
  padding: var(--spacing-2);
  border-radius: var(--size-2);
  background-color: var(--alpha-blue-2);
  border: var(--size-1-half) solid var(--blue);

  display: grid;
  grid-template-columns: var(--size-18) auto;
  align-items: center;
  gap: var(--spacing-3-half);
  width: 100%;
  max-width: var(--size-120);

  img {
    width: var(--size-18);
    height: var(--size-18);
    background-color: var(--silver);
    border-radius: var(--size-3);
  }

  .details {
    display: grid;
    gap: var(--spacing-1-half);

    .bank-name {
      font-family: 'Gotham Bold', 'Lato', sans-serif;
      font-size: var(--size-3);
      letter-spacing: calc(var(--size-1-quarter) / 2);
      color: var(--dark);
    }

    .account-number {
      font-family: 'Gotham Bold';
      letter-spacing: calc(var(--size-1-quarter) / 2);
      font-size: var(--size-7-half);
      color: var(--green);
    }

    .account-name {
      font-size: var(--size-6-half);
      color: var(--dark);
      letter-spacing: calc(var(--size-1-quarter) / 2);
    }

    .currency {
      font-weight: bold;
      font-size: var(--size-7-half);
      font-family: 'Gotham Bold';
      color: var(--green);
    }
  }
}
