.form-section {
  padding: var(--spacing-4) var(--spacing-2);
  display: grid;
  gap: var(--spacing-6);
}

@media (width >= 768px) {
  .form-section {
    padding:  var(--spacing-4);
  }
}

@media (width >= 1024px) {
  .form-section {
    justify-content: center;
    padding:  var(--spacing-8) var(--spacing-4);

    & > * {
      max-width: var(--max-width);
    }
  }
}
