.accounts {
  padding: 0 var(--spacing-1) var(--spacing-6);
  display: grid;
  gap: var(--spacing-2);
  justify-items: center;
}

@media (width >= 768px) {
  .accounts {
    padding: 0 var(--spacing-3) var(--spacing-6);
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: var(--spacing-2);
  }
}

@media (width >= 1024px) {
  .accounts {
    margin: 0 auto;
    max-width: var(--max-width);
  }
}
